body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myBody{
  background-color:seagreen;
}

.header{
  display: flex;
  align-items: center;
  justify-content:center;
}

#grid-size-input{
  padding: 5px;
  margin: 5px;
}

.board{
  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin:12px;
  display: grid;
  background-color: white;
}
.footer{
  display: flex;
  justify-content: space-between;
  width: 500px;
}

input{
  border-radius: 10px;
  width: 80px;
}